card-1 {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #333;
  padding: 1.5rem;
  width: 25%;
  border-left: 1px solid #333;
}

div img {
  width: 100px;
  margin: 0 auto 1.5rem;
}
