section {
  display: flex;
}

.slytherin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #333;
  width: 32%;
  padding: 5px;
}

.harley {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #333;
  width: 32%;
  padding: 5px;
}

.sailor-moon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #333;
  width: 32%;
  padding: 5px;
}

div:first-child {
  border-left: 1px solid #333;
}

div img {
  width: 100px;
  margin: 0 auto 1.5rem;
}

h3 {
  text-align: left;
  font-size: 1rem;
  margin: 0;
}

p {
  display: inline-block;
  font-size: .875rem;
  flex-grow: 1;
  margin-top: 0;
  color: white;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border 1px solid grey;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards strong {
  display: block;
  margin-bottom: 1rem;

  font-size: 1.125rem;
}

.cards div {
  text-align: center;
}
