.main-check[type="checkbox"] + label::before,
.print-check[type="checkbox"] + label::before,
.cloth-check[type="checkbox"] + label::before,
.elec-check[type="checkbox"] + label::before {
  position: absolute;
  top: -20em;
  left: -20em;
}

.main-nav {
  display: none;
}

.main-check ~ .main-label i > svg {
  color: var(--color-primary-dark);
}

.main-check:checked ~ .main-nav {
  display: block;
}

.jump-nav {
  color: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.jump-nav:hover {
  color: var(--color-accent);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.breadcrumb a,
.page-nav a {
  text-decoration: none;
  font-family: var(--font-secondary);
}

.breadcrumb {
  border-bottom: 1px solid var(--color-primary-dark);
}

.breadcrumb a:hover,
.active:hover {
  color: var(--color-primary-light);
  text-decoration: underline;
}

.active,
.hover:hover {
  color: var(--color-neutral);
  font-family: var(--font-secondary);
}

.tool-bar {
  background-color: var(--color-primary-light);
}

.tool-bar li > a {
  color: var(--color-neutral);
  text-decoration: none;
  background-color: var(--color-secondary-light);
}

.tool-bar li > a:hover {
  background-color: var(--color-primary-dark);
}

.current a {
  color: var(--color-primary-light);
}
